.dropdown-menu {
	display: block;
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style-type: none;
	background: #216377;
}

.dropdown-menu > li {
	display: block;
	margin: 0;
	padding: 0;
	position: relative;
}

.dropdown-menu > li > a, .dropdown-menu ul > li > a {
	display: block;
	background: #216377;
	color: #fff;
	padding: .5em 1em;
	text-decoration: none;
}

.dropdown-menu > li > a {
	border-right: 1px solid #ccc;
}

.dropdown-menu ul > li > a {
	padding-right: 3em;
	border-top: 1px solid #bbb;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
	background: #1AB7EA;
	color: #000;
}

.dropdown-menu ul {
	display: block;
	opacity: 0;
	position: absolute;
	list-style-type: none;
	padding: 0;
	margin: 0;
	z-index: 1;
	white-space: nowrap;
	transition: opacity 0s 1s, z-index 0s 1s;
	-o-transition: opacity 0s 1s, z-index 0s 1s;
	-ms-transition: opacity 0s 1s, z-index 0s 1s;
	-moz-transition: opacity 0s 1s, z-index 0s 1s;
	-webkit-transition: opacity 0s 1s, z-index 0s 1s;
}

.dropdown-menu > li:hover > ul {
	opacity: 1;
	z-index: 3;
	display: block;
	transition: opacity, z-index;
	-o-transition: opacity, z-index;
	-ms-transition: opacity, z-index;
	-moz-transition: opacity, z-index;
	-webkit-transition: opacity, z-index;
}

.dropdown-menu:hover ul {
	opacity: 0;
	z-index: 1;
	display: none;
	transition: none;
	-o-transition: none;
	-ms-transition: none;
	-moz-transition: none;
	-webkit-transition: none;
}

/* Search Tool CSS Begin*/
#search-target-blog > a {
	z-index: 100;
	color: rgba(0, 0, 0, 0.8);
	position: fixed;
	bottom: 32px;
	right: 32px;
}

#search-target-blog > a:focus,
#search-target-blog > a:hover {
	color: #0085a1;
}

#search-blog-close > a {
	color: #ff5d5b;
	position: fixed;
	top: 15px;
	right: 15%;
}

#search-blog-close > a:focus,
#search-blog-close > a:hover {
	color: #0085a1;
}

@media (max-width: 768px) {
	#search-blog-close > a {
		top: 15px;
		right: 2%;
	}
}
/* Search Tool CSS End */

/* Scroll To Top CSS Begin*/
#scroll-to-top {
	display: block;
	opacity: 0;
	cursor: pointer;
	position: fixed;
	bottom: 15px;
	right: 100px;
	z-index: 99;
	text-align: center;
	border-radius: 100%;
	width: 50px;
	height: 50px;
	padding: 12px 4px;
	background: --light-color;
	color: #d5d5d5;
	color: var(--text-body);
	box-shadow: 0 0 20px 5px rgba(62,60,85,.16);
	transform: translateY(30%);
	transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

@media (max-width: 768px) {
	#scroll-to-top {
		right: 22px;
		bottom: 82px;
	}
}

#scroll-to-top :last-child {
	transition: transform 0.7s ease-in-out;
}

#scroll-to-top :last-child:active,
#scroll-to-top :last-child:hover {
	transform: translateY(-20%);
}

#scroll-to-top svg path {
	fill: rgba(0, 0, 0, 0.8);
}

#scroll-to-top svg:hover path,
#scroll-to-top svg:active path {
  fill: #0085a1;
}
/* Scroll To Top CSS End*/

/* Progress Bar CSS Begin*/
#progress-bar {
	background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet var(--scroll), transparent 0);
	position: fixed;
	overflow: hidden;
	width: 100%;
	height: 3px;
	z-index: 1;
}
/* Progress Bar CSS End */
