---
layout: default
---

{% include wrap.html short=true %}

<style type="text/css">
  header.intro-header {
    height: 500px;
    overflow: hidden;
  }

  header iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
</style>

<!-- Slide Content -->
<header class="intro-header">
  <iframe src="{{page.iframe}}"></iframe>
</header>

<article>
  <div class="intro-header style-text">

    {% include post-title.html %}

  </div>

  {% include post-content.html %}

</article>

{% include related-posts.html %}

<!-- resize header to fullscreen keynotes --> 
<script>
  var $header = document.getElementsByTagName("header")[0];
  function resize() {
    /*
      * leave 100px for showing the title
      */
    $header.style.height = (window.innerHeight - 100) + 'px';
  }
  document.addEventListener('DOMContentLoaded', function(){
      resize();
  })
  window.addEventListener('load', function() {
      resize();
  })
  window.addEventListener('resize', function() {
      resize();
  })
  resize();
</script>
